#jinja2:lstrip_blocks: True
auto {{ item.key }}
{% if in item.value.address is defined %}
iface {{ item.key }} inet static
{% elif item.value.dhcp is defined %}
iface {{ item.key }} inet dhcp
{% else %}
iface {{ item.key }} inet {{ item.value.inet }}
{% endif %}
{% if item.value.address is defined %}
  address   {{ item.value.address }}
  netmask   {{ item.value.netmask }}
{% if item.value.network is defined %}
  network   {{ item.value.network }}
{% endif %}
{% if item.value.gateway is defined %}
  gateway   {{ item.value.gateway }}
{% endif %}
{% if item.value.broadcast is defined %}
  broadcast {{ item.value.broadcast }}
{% endif %}
{% if item.value.address is not defined and item.value.dhcp is not defined %}
  post-up ip link set dev $IFACE up
  pre-down ip link set dev $IFACE down
{% endif %}
{% if item.value.extra is defined %}
{% for k, v in item.value.extra.iteritems() %}
  {{ k }} {{ v }}
{% endfor %}
{% endif %}
